.text{
    height: 50px;
    position: relative;
    overflow: hidden;
}
.text-open{
    overflow: visible;
    height: auto;
}
.text-open .toggle{
    display: none;
}
.toggle{
    /*background-image: -webkit-linear-gradient(rgba(255,255,255,0)0%, #fff 100%);*/
    /*background-image: -moz-linear-gradient(rgba(255,255,255,0)0%, #fff 100%);*/
    /*background-image: -o-linear-gradient(rgba(255,255,255,0)0%, #fff 100%);*/
    background-image: linear-gradient(rgba(255,255,255,0)0%, #fff 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}










